.DS_Store
deploy/marksite/
deploy/tmp/
deploy/config.php
src/blocks/*.html
src/zh-tw/sponsors/index.md
src/zh-cn/sponsors/index.md
src/en/sponsors/index.md
src/zh-tw/program/abstract/index.html 
src/zh-tw/program/index.htm
src/zh-cn/program/abstract/index.html 
src/zh-cn/program/index.htm
src/en/program/abstract/index.html 
src/en/program/index.htm
deploy/files/
