*.swp
.DS_Store
deploy/marksite/
deploy/tmp/
deploy/config.php
src/blocks/*.html
src/zh-tw/sponsors/index.md
src/zh-cn/sponsors/index.md
src/en/sponsors/index.md
src/en/program/*.html
src/zh-tw/program/*.html
src/zh-cn/program/*.html
deploy/files/
